In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [ ]:
df = pd.read_excel("https://github.com/HarvianKhusnan/Tubes-Strategi-Algoritma/blob/9a8a329c82dd5541ee7aafd243c039e7a40707cc/Ringkasan%20Saham-20220616%20EDIT.xlsx?raw=true")

In [ ]:
df.columns = df.columns.str.replace(' ','_')
df

,No,Kode_Saham,Nama_Perusahaan,Remarks,Sebelumnya,Open_Price,First_Trade,Tertinggi,Terendah,Penutupan,...,Bid,Bid_Volume,Last_Trading_Date,Tradeble_Shares,Weight_for_Index,Foreign_Sell,Foreign_Buy,Non_Regular_Volume,Non_Regular_Value,Non_Regular_Frequency
0,1,AALI,Astra Agro Lestari Tbk.,--M-183PM10000D232------------,10425,0,0,10600,10150,10175,...,10150,50400,16 Jun 2022,1924688333,390711732,2500600,1790000,456800,4726509600,8
1,2,ABBA,Mahaka Media Tbk.,--U-2100000000E614---L--------,169,0,0,178,166,172,...,172,5300,16 Jun 2022,3935892857,1342926643,2472500,332600,0,0,0
2,3,ABDA,Asuransi Bina Dana Arta Tbk.,XDU-2105000000G412-----------X,5925,0,0,0,0,5925,...,0,0,16 Jun 2022,620806680,78594126,0,0,0,0,0
3,4,ABMM,ABM Investama Tbk.,XDM-1115000000C311------------,2360,0,0,2520,2360,2460,...,2440,11800,16 Jun 2022,2753165000,568803889,543400,1853300,0,0,0
4,5,ACES,Ace Hardware Indonesia Tbk.,--M-187EMN6000E743------------,860,0,0,885,850,850,...,850,3412300,16 Jun 2022,17150000000,6835990000,21578900,15882900,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785,786,YULE,Yulie Sekuritas Indonesia Tbk.,--U-2105000000G312------------,2050,0,0,2090,2010,2050,...,2020,1000,16 Jun 2022,1785000000,1286271000,0,0,108800,217600000,4
786,787,ZBRA,Dosni Roha Indonesia Tbk.,--U-2135000000C311------------,580,0,0,580,560,570,...,570,12300,16 Jun 2022,2510706263,432343618,0,90000,0,0,0
787,788,ZINC,Kapuas Prima Coal Tbk.,--U-2105000000B146------------,85,0,0,87,83,85,...,84,4818300,16 Jun 2022,25250000000,8612775000,41730200,22347500,0,0,0
788,789,ZONE,Mega Perintis Tbk.,XDU-2130000000E741------------,1580,0,0,1675,1580,1660,...,1660,7800,16 Jun 2022,870171478,116167892,0,269400,0,0,0
789,790,ZYRX,Zyrexindo Mandiri Buana Tbk.,--U-2830000000I221------------,454,0,0,470,450,452,...,452,28300,16 Jun 2022,1333333451,333333325,10600,0,0,0,0

In [ ]:
nilai_terbaik = df.sort_values(["Tertinggi"], ascending=False)
nilai_terbaik

,No,Kode_Saham,Nama_Perusahaan,Remarks,Sebelumnya,Open_Price,First_Trade,Tertinggi,Terendah,Penutupan,...,Bid,Bid_Volume,Last_Trading_Date,Tradeble_Shares,Weight_for_Index,Foreign_Sell,Foreign_Buy,Non_Regular_Volume,Non_Regular_Value,Non_Regular_Frequency
163,164,BYAN,Bayan Resources Tbk.,XDU-1130000000A121------------,62900,0,0,64500,59900,64375,...,63025,100,16 Jun 2022,3333333500,751333371,45300,49200,0,0,0
229,230,DSSA,Dian Swastatika Sentosa Tbk,--U-1135000000A121------------,36750,0,0,36750,36750,36750,...,34200,200,16 Jun 2022,770552320,4160983,0,0,0,0,0
367,368,ITMG,Indo Tambangraya Megah Tbk.,XDMO1S7PUG0000A121------------,31450,32500,32500,33300,32275,32600,...,32575,2200,16 Jun 2022,1129925000,359090165,914100,1411800,0,0,0
205,206,DCII,DCI Indonesia Tbk.,--U-2100000000I121------------,32500,0,0,32525,32500,32500,...,30500,200,16 Jun 2022,2383745900,442184864,400,0,0,0,0
278,279,GGRM,Gudang Garam Tbk.,--MO1H00570000D311------------,30575,30675,30775,30975,30575,30775,...,30700,600,16 Jun 2022,1924088000,317282111,486100,261200,110,3396333,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,446,MAMIP,Mas Murni Tbk (Saham Preferen),--U-2100000000E512---L-------X,600,0,0,0,0,600,...,0,0,16 Jun 2022,6000000,2185800,0,0,0,0,0
193,194,CPRI,Capri Nusa Satu Properti Tbk.,--U-2130000000H111-----------X,50,0,0,0,0,50,...,0,0,16 Jun 2022,2433379958,674046248,0,0,0,0,0
654,655,SKYB,Northcliff Citranusa Indonesia Tbk.,--U-2100000000I131---L---Y---X,51,0,0,0,0,51,...,0,0,16 Jun 2022,585000000,184333500,0,0,0,0,0
191,192,COWL,Cowell Development Tbk.,--U-2100000000H111---L---Y---X,50,0,0,0,0,50,...,0,0,16 Jun 2022,4871214021,312244819,0,0,0,0,0
472,473,MGNA,Magna Investama Mandiri Tbk.,--U-2100000000G512-E--S------X,50,0,0,0,0,50,...,0,0,16 Jun 2022,1003080977,522605189,0,0,0,0,0

In [ ]:
sedang_naik = df.sort_values(["Selisih"], ascending=False)
sedang_naik

,No,Kode_Saham,Nama_Perusahaan,Remarks,Sebelumnya,Open_Price,First_Trade,Tertinggi,Terendah,Penutupan,...,Bid,Bid_Volume,Last_Trading_Date,Tradeble_Shares,Weight_for_Index,Foreign_Sell,Foreign_Buy,Non_Regular_Volume,Non_Regular_Value,Non_Regular_Frequency
163,164,BYAN,Bayan Resources Tbk.,XDU-1130000000A121------------,62900,0,0,64500,59900,64375,...,63025,100,16 Jun 2022,3333333500,751333371,45300,49200,0,0,0
367,368,ITMG,Indo Tambangraya Megah Tbk.,XDMO1S7PUG0000A121------------,31450,32500,32500,33300,32275,32600,...,32575,2200,16 Jun 2022,1129925000,359090165,914100,1411800,0,0,0
51,52,ARTO,Bank Jago Tbk.,--U-2800000000G111------------,9100,0,0,9925,9100,9825,...,9800,2600,16 Jun 2022,13717687500,3823119506,9268500,4768100,0,0,0
263,264,FISH,FKS Multi Agro Tbk.,XDU-2135000000D232------------,6675,0,0,7400,6350,7275,...,7125,100,16 Jun 2022,480000000,50496000,0,0,0,0,0
321,322,IBST,Inti Bangun Sejahtera Tbk.,--U-1135000000J321------------,7400,0,0,8800,7325,7975,...,7775,100,16 Jun 2022,1350904927,321245192,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,452,MASA,Multistrada Arah Sarana Tbk.,--U-1135000000E112------------,3640,0,0,3600,3450,3450,...,3440,300,16 Jun 2022,9182946945,33058609,0,0,0,0,0
596,597,PTSP,Pioneerindo Gourmet International Tbk.,--U-2135000000E515------------,3250,0,0,3060,3060,3060,...,3250,100,16 Jun 2022,220808000,44294085,0,0,0,0,0
0,1,AALI,Astra Agro Lestari Tbk.,--M-183PM10000D232------------,10425,0,0,10600,10150,10175,...,10150,50400,16 Jun 2022,1924688333,390711732,2500600,1790000,456800,4726509600,8
371,372,JECC,Jembo Cable Company Tbk.,--U-2130000000C131------------,4550,0,0,4650,4250,4270,...,4280,100,16 Jun 2022,151200000,12670560,0,0,0,0,0
454,455,MBAP,Mitrabara Adiperdana Tbk.,--U-2135000000A121------------,6925,0,0,6750,6450,6600,...,6575,3900,16 Jun 2022,1227271952,119168107,85100,151900,0,0,0

# Brute Force

In [ ]:
saham = df[["Kode_Saham","Nama_Perusahaan","Sebelumnya","Nilai"]]
saham

    Kode_Saham                 Nama_Perusahaan  Sebelumnya        Nilai
0         AALI         Astra Agro Lestari Tbk.       10425  50159252500
1         ABBA               Mahaka Media Tbk.         169   1982313800
2         ABDA    Asuransi Bina Dana Arta Tbk.        5925            0
3         ABMM              ABM Investama Tbk.        2360  11391328000
4         ACES     Ace Hardware Indonesia Tbk.         860  43666409000
..         ...                             ...         ...          ...
785       YULE  Yulie Sekuritas Indonesia Tbk.        2050     23754000
786       ZBRA       Dosni Roha Indonesia Tbk.         580    239795500
787       ZINC          Kapuas Prima Coal Tbk.          85  89598854600
788       ZONE              Mega Perintis Tbk.        1580   3643120500
789       ZYRX    Zyrexindo Mandiri Buana Tbk.         454     76497400

[790 rows x 4 columns]

In [ ]:
def sahamBruteforce(saham):
  max = 0
  for i in range(len(saham)):
    if max < saham.Nilai[i]:
      max = saham.Nilai[i]
      nama = saham.Nama_Perusahaan[i]
      kode = saham.Kode_Saham[i]
  print(nama,"(",kode,")","dengan nilai :",max)
  
sahamBruteforce(saham)

GoTo Gojek Tokopedia Tbk. ( GOTO ) dengan nilai : 1593336897800

In [ ]:
maxNilai = saham.sort_values(["Nilai"], ascending=False)
maxNilai = maxNilai.reset_index()
maxNilai = maxNilai.drop('index', axis=1)
maxNilai

,Kode_Saham,Nama_Perusahaan,Sebelumnya,Nilai
0,GOTO,GoTo Gojek Tokopedia Tbk.,404,1593336897800
1,BBRI,Bank Rakyat Indonesia (Persero) Tbk.,4450,1072467004000
2,BBCA,Bank Central Asia Tbk.,7325,999838175000
3,BRMS,Bumi Resources Minerals Tbk.,280,803578271600
4,BMRI,Bank Mandiri (Persero) Tbk.,8300,783986812500
...,...,...,...,...
785,MAGP,Multi Agro Gemilang Plantation Tbk.,50,0
786,GIAA,Garuda Indonesia (Persero) Tbk.,222,0
787,BPII,Batavia Prosperindo Internasional Tbk.,7900,0
788,SRIL,Sri Rejeki Isman Tbk.,146,0
789,BSWD,Bank Of India Indonesia Tbk.,1750,0

# Greedy

## Greed By Nilai
Misal kita memilik modal Rp 1000.000 untuk membeli saham. Agar lebih efektif, kita tidak menghabiskan seluruh modal kita untuk satu jenis saham. Maka dari itu kita memutuskan untuk membeli satu jenis saham dengan max 100 lembar.

In [ ]:
def sahamGBN(maxNilai,modal):
  total = 0
  dibeli = []
  i = 0
  while i < (len(maxNilai)-1) and total < modal:
    for j in range(100):
      if total + maxNilai.Sebelumnya[i] < modal or total + maxNilai.Sebelumnya[i] == modal:
        total += maxNilai.Sebelumnya[i]
        print(total)
      else:
        break
    i += 1
    dibeli += [[maxNilai.Nama_Perusahaan[i],j]]
  
  print(dibeli,total)

sahamGBN(maxNilai,1000000)
# maxNilai

404
808
1212
1616
2020
2424
2828
3232
3636
4040
4444
4848
5252
5656
6060
6464
6868
7272
7676
8080
8484
8888
9292
9696
10100
10504
10908
11312
11716
12120
12524
12928
13332
13736
14140
14544
14948
15352
15756
16160
16564
16968
17372
17776
18180
18584
18988
19392
19796
20200
20604
21008
21412
21816
22220
22624
23028
23432
23836
24240
24644
25048
25452
25856
26260
26664
27068
27472
27876
28280
28684
29088
29492
29896
30300
30704
31108
31512
31916
32320
32724
33128
33532
33936
34340
34744
35148
35552
35956
36360
36764
37168
37572
37976
38380
38784
39188
39592
39996
40400
44850
49300
53750
58200
62650
67100
71550
76000
80450
84900
89350
93800
98250
102700
107150
111600
116050
120500
124950
129400
133850
138300
142750
147200
151650
156100
160550
165000
169450
173900
178350
182800
187250
191700
196150
200600
205050
209500
213950
218400
222850
227300
231750
236200
240650
245100
249550
254000
258450
262900
267350
271800
276250
280700
285150
289600
294050
298500
302950
307400
311850
316300
320750
325200
329650
334100
338550
343000
347450
351900
356350
360800
365250
369700
374150
378600
383050
387500
391950
396400
400850
405300
409750
414200
418650
423100
427550
432000
436450
440900
445350
449800
454250
458700
463150
467600
472050
476500
480950
485400
492725
500050
507375
514700
522025
529350
536675
544000
551325
558650
565975
573300
580625
587950
595275
602600
609925
617250
624575
631900
639225
646550
653875
661200
668525
675850
683175
690500
697825
705150
712475
719800
727125
734450
741775
749100
756425
763750
771075
778400
785725
793050
800375
807700
815025
822350
829675
837000
844325
851650
858975
866300
873625
880950
888275
895600
902925
910250
917575
924900
932225
939550
946875
954200
961525
968850
976175
983500
990825
998150
998430
998710
998990
999270
999550
999830
999888
999946
999996

In [ ]:
maxNilai

,Kode_Saham,Nama_Perusahaan,Sebelumnya,Nilai
0,GOTO,GoTo Gojek Tokopedia Tbk.,404,1593336897800
1,BBRI,Bank Rakyat Indonesia (Persero) Tbk.,4450,1072467004000
2,BBCA,Bank Central Asia Tbk.,7325,999838175000
3,BRMS,Bumi Resources Minerals Tbk.,280,803578271600
4,BMRI,Bank Mandiri (Persero) Tbk.,8300,783986812500
...,...,...,...,...
785,MAGP,Multi Agro Gemilang Plantation Tbk.,50,0
786,GIAA,Garuda Indonesia (Persero) Tbk.,222,0
787,BPII,Batavia Prosperindo Internasional Tbk.,7900,0
788,SRIL,Sri Rejeki Isman Tbk.,146,0
789,BSWD,Bank Of India Indonesia Tbk.,1750,0